/* Use your own code or past solution for Great Idea Web Page CSS here! */




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
  width: 880px;
  /* TB LR */
  margin: 0 auto;
}

/* ************header************ */

header {
	padding-top: 25px;
	display: flex;
	align-items: center; 
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-evenly;
}

header nav a {
	margin-right: 65px;
	font-size: 15px;
	color: gray;
	text-decoration: none;
}

header nav a:hover {
	text-decoration: underline;
}

/* ************cta************ */

.cta {
	padding: 60px 0;
	display: flex;
	align-items: center; 
    justify-content: space-around;
}

.cta .cta-text {
	font-size: 75px;
	text-align: center;
}

.cta .cta-text button {
	background: white;
	vertical-align: top;
	margin-top: 6px;
	padding: 8px 40px;
	font-size: 17px;
	border: 1px solid black;
	cursor: pointer;
}

.cta .cta-text button:hover {
	background: black;
	color: white;
}

/* Home Page Main Content */

.top-content {
    padding-top: 35px;
	border-top: 1px solid black;
	display: flex;
	justify-content: space-evenly;
}

.middle-img {
    padding: 35px 0;
}

.bottom-content {
	display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.text-content {
    padding: 0 15px;
}

.contact {
	border-top: 1px solid black;
	padding: 39px 0px 0;
}

.contact p {
	margin: 20px 0;
}

footer {
	margin: 32px 0;
	text-align: center;
	font-size: 14px;
}

/* ************STYLES FOR SERVICE PAGE ONLY************ */


.services-header-img {
	margin: 20px 0px 20px;
}

.top-service-content h2 {
	font-size: 25px;
}

.top-service-content p {
	margin-bottom: 30px;
}

.middle-service-content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px 0px 30px;

}

p {
	font-size: 15px;
	line-height: 1.5;
}

.box-section {
	display: flex;
	justify-content: space-evenly;
}

.info-box {
	border: 1px solid black;
	background: #e5e5e5;
	margin: 15px;
	padding: 20px;
}

.header-content {
	display: flex;
	flex-direction: column;
}

.learn-more {
	background: white;
	vertical-align: top;
	margin-top: 20px;
	padding: 8px 36px;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 6px;
	cursor: pointer;
}

.bottom-service-content{
	padding-top: 30px;
	display: flex;
	flex-direction: row;
}

.services-info-img {
	padding-left: 10px;
}


ul {
	margin-top: 10px;
	font-size: 15px;
	line-height: 2;
	list-style-type: square;
	padding-left: 20px;
}

/* ************ TABLET STYLES 800px ************ */

@media(max-width: 800px) {
    .container {
        max-width: 800px;
        padding: 10px;
    }

    header {
        display: block;
        margin: auto;
    }

    .logo {
        display: block;
        margin: auto;
        padding-bottom: 40px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        padding-left: 35px;
    }

    .top-content {
        padding: 30px 0 10px 10px;
    }

    .cta-image {
        display: none;
    }

    .cta-text {
        margin: auto;
    }

    .middle-img {
        width: 100%;
        padding: 25px 10px;
    }

    .bottom-content {
        padding-bottom: 20px;
    }

    .contact {
        padding-left: 10px;
    }

  }